<nav>
  <div class="site-title">
    <h1>Tinder For Food</h1>
    <p>Share food ,save food...</p>
  </div>
  <ul>
    <li><a href="/">Restaurants</a></li>
    <li><a href="/chat">ChatRoom</a></li>
    <li><a href="/bill">Bill Split</a></li>
  </ul>
</nav>