<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs')%>
<body>
  <%- include('../partials/res-nav.ejs')%>
  <div class="contacts">
    <h2>Virat</h2>
    <h2>Yuzi</h2>
    <h2>Ishaan</h2>
    <h2>Danish</h2>
    
  </div>

  <div class="conv">
    <h2>Start your foody talk..</h2>
  </div>
  
</body>
</html>