<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs')%>
<body>
  <%- include('../partials/nav.ejs')%>
  <div class="grid-container">
    <div>
      <a href="/rest-page"><img src="images/ChaipattyTeafe.jpg" alt="Chaipatty Teafe" />
      <figcaption>Chaipatty Teafe</figcaption></a>
    </div>
    <div>
      <a href="/rest-page"><img src="images/CableCar2.jpg" alt="cabel car" />
      <figcaption>Cabel Car</figcaption></a>
    </div>
    <div>
      <a href="/rest-page"><img src="images/barbeque-nation-1594710068.jpg" alt="Barbeque Nation" />
      <figcaption>Barbeque Nation</figcaption></a>
    </div>
    <div>
      <a href="/rest-page"><img src="images/meghna's.jpg" alt="Meghna's Biriyani" />
      <figcaption>Meghna's Briyani</figcaption></a>
    </div>
    <div>
      <a href="/rest-page"><img src="images/truffles.jpg" alt="Truffles" />
      <figcaption>Truffles</figcaption></a>
    </div>
    <div>
      <a href="/rest-page"><img src="images/hakuna matata.jpg" alt="Hakuna Matata" />
      <figcaption>Hakuna Matata</figcaption></a>
    </div>
  </div>
  <%- include('../partials/footer.ejs')%>
</body>
</html>