<!DOCTYPE html>
<html lang="en">
<head>
<<<<<<< HEAD
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
=======
    <%- include('../partials/head.ejs')%>
</head>
<body>
    <%- include('../partials/nav.ejs')%>
>>>>>>> 07fb97abdc390971820d4807fdd060cb848b3449
    <div id="root">

    </div>
    <script type="Text/javascript" src="main.js"></script>
<<<<<<< HEAD
=======
    <%- include('../partials/footer.ejs')%>
>>>>>>> 07fb97abdc390971820d4807fdd060cb848b3449
</body>
</html>